.MessageStory {
    position: relative;
    height: 100%;
    background-color: #fff;
    margin: 1rem auto;
    width: 95%;
    height: 75%;
    border-radius: 2rem;
    border: 1.5px solid #6EBFCC;
    overflow-y: auto;
}

@media only screen and (max-height: 800px) {
    .MessageStory {
        height: 69%;;
    }
}