.message {
    position: relative;
    background-color: #DBEBF0;
    width:fit-content;
    min-height: 2rem;
    min-width: 18rem;
    max-width: 70%;
    margin: 2rem 2rem .5rem;
    padding: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .7rem;
    border-radius: 1.5rem;
    text-align: left;
    opacity: 1;
}

.message.highlighted {
    background: #99C9D9;
}

.message:hover {
    opacity: .8;
}

.message .date {
    position: absolute;
    font-size: .8rem;
    color: #444;
}